/* for Desktop view max-width: 1400px */

/* for Tablet view */
@media(max-width: 950px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }
}

/* for Smartphone view */
@media(max-width: 640px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }
    .android-compose-camp {
        height: 600px;
    }
    .why-join-container {
        align-items: center;
        flex-direction: column;
    }
    .why-join-item {
        min-width: 100%;
    }
}