* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    margin: auto 0;
}

nav {
    position: fixed;
    background-color:#073042;
    padding: 5px;
    top: 0;
    width: 100%;
}

nav ul {
    font-size: 0;
    padding-left: 0px;
}

nav li {
    display: inline-block;
    list-style-type: none;
    font-size: 16px;
    padding: 2px;
    margin: 12px;
}

nav a {
    color: #d7effe;
    text-decoration: none;
}

nav a:hover {
    color: #3ddc84;
}

h1, h2 {
    color: #073042; 
}

h1 {
    font-size: 250%;
}

p {
    line-height: 1.8em;
    padding: 0px 15px 0px 15px;
}

main {
    overflow: auto;
}

#content {
    float: left;
    width: 75%;
}

article img {
    border-radius: 15px;
    width: 100%;
    max-width: 550px;
}

aside {
    float: right;
    width: 25%;
    text-align: center;
}

aside img {
    width: 80%;
}

.center {
    text-align: center;
    padding: 0px 15px 0px 15px;
}

.android-compose-camp {
    background: #d7effe bottom / cover no-repeat url("../image/compose-camp-header.png");
    height:500px;
    padding-top: 70px;
}

.anchor-top {
    position: relative;
    top: -80px;
}

.why-join {
    background-color: aliceblue;
    padding-top: 25px;
}

.why-join-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
}

.why-join-item {
    flex-basis: 100%;
    flex-grow: 1;
    max-width: 32%;
    text-align: center;
    overflow: auto;
    margin: 15px 0px 10px 0px;
}

.round-img {
    border-radius: 50%;
    border: 8px solid #4285f4;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.compose-camp-container {
    padding: 45px 45px;
    background-color: #d7effe ;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

footer {
    background: #073042 bottom / contain no-repeat url("../image/compose-camp-footer.png");
    height: 300px;
    padding: 5px 15px 15px 0px;
    text-align: center;
}

footer p {
    color: #d7effe;
    background-color: #073042;
}