body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    margin: auto 0;
}

nav {
    position: fixed;
    background-color:#073042;
    padding: 5px;
    top: 0;
    width: 100%;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

nav a {
    color: #d7effe;
    text-decoration: none;
}

h1, h2 {
    color: #073042; 
}

h1 {
    font-size: 250%;
}

p {
    line-height: 1.8em;
}

.center {
    text-align: center;
    padding: 0px 15px 0px 15px;
}

.android-compose-camp {
    background: #d7effe url("../image/compose-camp-header.png") no-repeat bottom / cover;
    height:500px;
    padding-top: 90px;
}